@using Microsoft.EntityFrameworkCore.Metadata.Internal
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - IMDBMovieRecommendation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Anasayfa</a>
        <form method="post" asp-action="Refresh" class="d-inline">
            <button type="submit" class="link link-success border-0 bg-transparent">Yenile</button>
        </form>
    </div>
</nav>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        <div>@TempData["Message"]</div>
    </div>
}
<div class="container">
    <main role="main" class="pb-3">

        @RenderBody()
    </main>
</div>

<footer class="text-start py-2 mt-3">
    <div class="mt-2">
        <span>&copy; 2024 Enes Deliduman. Tüm hakları saklıdır.</span>
    </div>
    <div class="social-icons">
        <a href="https://www.linkedin.com/in/enesdeliduman" target="_blank" class="social-icon">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/enesdman0" target="_blank" class="social-icon">
            <i class="fab fa-github"></i>
        </a>
        <a href="https://www.instagram.com/" target="_blank" class="social-icon">
            <i class="fab fa-instagram"></i>
        </a>
    </div>
</footer>

<!-- Font Awesome Kütüphanesi -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>